services:
  web:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: violat_web
    env_file:
      - .env
    environment:
      - DEBUG=1
      - USE_SQLITE=1
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: violat_client
    ports:
      - "3000:80"
    depends_on:
      - web
