/* src/login/Login.module.css */
.h2 {
  font-size: 1rem;
  font-weight: bold;
}

.body {
  height: calc(100vh - 4rem);
  background-image: url('https://wbstatic.webullfintech.com/v1/webull-us-g/assets/77ac67cea715a7e26a86e4c874064b15.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainBox {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;  
  background-color: #f9f9f9;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  width: 90%;
}

.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: auto;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.signupLink {
  color: rgb(0, 72, 255);
  margin-top: 10px;
}

.userBox {
  color: white;
  /* margin-top: 200px; */
}

.userData {
  /* margin: 20px; */
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
}
