/* src/header/Header.module.css */

.h1 {
  font-size: 2rem;
  color: white;
}

.logoImg {
  width: 3.5rem;
  margin: 5px 1rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFD0D4;
  height: 4rem;
  padding: 0 3rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  font-size: 15px;
  margin: 0 40px;
}

.investment {
  margin: 0 20px;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.investment:hover {
  font-weight: bolder;
  cursor: pointer;
}

.userSection {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.button {
  background-color: rgb(117, 201, 235);
  color: white;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 3px;
  margin-right: 20px;
}

.button:hover {
  background-color: rgb(148, 215, 241);
}

.stateLogin {
  font-size: large;
  color: black;
}

.userImg { 
  width: 4rem;
  cursor: pointer;
}
