/* src/header/Header.module.css */

.h1{
  font-size: 2rem;
  color: white;
}

.logoImg{
  position: absolute;
  width: 3.5rem;
  top: 0;
  margin-top: 5px;
  margin-left: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFD0D4;
  height: 4rem;
  color: black;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  font-size: 15px;
  margin: 0 40px
}


.investment:hover{
  font-weight: bolder;
  cursor: pointer;
}

.userSection {
  display: flex;
  align-items: center;
  width: 200px;
}

.user {
  display: flex;
  align-items: center;
}

.button {
  width: 80px;
  height: 2rem;
  background-color: rgb(161, 222, 247);
  color: white;
  border: none;
  border-radius: 7px;
}

.button:hover{
  background-color: aqua;
}

.stateLogin {
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
}

.userImg { 
  position: absolute;
  top: 0;
  right: 60px;
  width: 4rem;
  /* background-color: rgb(153, 153, 153); */
}