/* src/main/Mainpage.css */
.h1{
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}

.body {
  /* background-image: url('https://wbstatic.webullfintech.com/v1/webull-us-g/assets/77ac67cea715a7e26a86e4c874064b15.webp'); */
  background-color: #2B5EF5;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}
/* 
.title {
  display: flex;
  color: white;
  justify-content: center;
} */


.box1 {
  width: calc(100% - 80px);
  background-color: #2B5EF5;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  height: 90%;
  display: inline-block;
  text-align: center;
  align-items: center;
  /* justify-items: center; */
  
}

.coment{
  margin-top: 4rem;
  color: white;
}

.h3{
  font-size: 2rem;
}

.h5{
  font-size: 1.3rem;
}

.h6{
  font-size: 1.2rem;
  line-height: 1.5;
}

.img{
  width: 600px;
}
